NODE_ENV=development
PORT=5000
API_PREFIX=api/v1
FRONTEND_URL=http://localhost:3000

DATABASE_URL="Your Database Link "

JWT_ACCESS_SECRET=8f3Kx9Lm2Qa7Vp4Rs6Tn1YwZ5Hd8Jc
JWT_REFRESH_SECRET=Q7mN4xKp9Ls2Vt8Ra6Yw3Hd1Fc5ZjB
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

GOOGLE_CLIENT_ID=

# OPENAI_API_KEY="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"
# ANTHROPIC_API_KEY="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"
# GOOGLE_GEMINI_API_KEY="AQ.Ab8RN6IiXQX1n4bzh-YwTuY5iY7f72-QQAgq-sOJ3z2gIPVjhg"
AI_PROVIDER_ENCRYPTION_KEY=echogpt-super-secret-ai-provider-encryption-key-32-bytes-long
GEMINI_MODEL=gemini-3.8-flash

REDIS_USER=default
REDIS_PASSWORD=your redus password
REDIS_HOST=redis host key
REDIS_PORT=redia port

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sohag2879@gmail.com
EMAIL_SENDER=sohag2879@gmail.com
SMTP_PASSWORD=your smtp paswword

ADMIN_NAME="System Administrator"
ADMIN_EMAIL="admin@echogpt.io"
ADMIN_PASSWORD="AdminEchoGPT2026!SecretPass"

USER_NAME="Standard EchoUser"
USER_EMAIL="user@echogpt.io"
USER_PASSWORD="UserEchoGPT2026!SecretPass"

BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b

BKASH_CALLBACK_URL=http://localhost:5000/api/v1/payments/bkash/callback